:host {
  --dxp-c-link-text-color: var(--robs-red);
  --dxp-g-brand: var(--robs-yellow);
  --dxp-g-brand-contrast: var(--robs-gray);
  --dxp-g-brand-contrast-1: var(--robs-orange);
}

.header {
  background-color: var(--dxp-g-brand);
  box-shadow: 1px 1px 5px 0px var(--dxp-g-brand-contrast);
  width: 100%;
  position: sticky;
}

.logo {
  font-size: 60px;
  margin-left: 10px;
}

/* .menu {:w
  display: flex;
} */

/* .menu a {
  display: block;
  font-weight: 900;
  padding: 30px;
} */

.nav a:hover {
  color: var(--dxp-c-link-text-color);
  text-decoration: none;
}

/* .menu a:hover {
  background-color: var(--dxp-g-brand-contrast-1);
} */

.nav-menu {
  width: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
}

/* TODO: animation for transition on hamburger menu open/close */

@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }
  .header {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  .nav {
    flex-direction: column;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
  }

  .menu a:hover {
    background-color: var(--dxp-g-brand);
  }
}
