.header {
  --dxp-c-link-text-color: var(--robs-red);
  --dxp-g-brand: var(--robs-yellow);
  --dxp-g-brand-contrast: var(--robs-gray);

  background-color: var(--dxp-g-brand);
  box-shadow: 1px 1px 5px 0px var(--dxp-g-brand-contrast);
  width: 100%;
  position: sticky;
}

.logo {
  font-size: 60px;
  margin-left: 10px;
}

.menu a {
  display: block;
  font-weight: 900;
  padding: 30px;
}

/* TODO: should be able to delete this with proper styling hooks */
/* .menu a:hover {
  background-color: gray;
} */
/* TODO: should be able to delete this with proper styling hooks */

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.nav {
  display: flex;
  justify-content: space-between;
}
/* .nav {
  max-height: 0;
  transition: max-height 0.5s ease-out;
} */

@media only screen and (max-width: 768px) {
  .header {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  .nav {
    flex-direction: column;
  }

  .nav-menu {
    flex-direction: column;
    align-items: center;
  }
}
